.popup-main {
  min-width: 300px;
  /* width: 100%; */
}

.checkout-btn {
  background-color: #0b69ff;
  color: #fff;
  padding: 8px;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  min-width: 300px;
  width: 40%;
  margin: auto;
  /* text-align: center; */
}

.cart-popup-button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.cart-popup-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.success-message {
  margin-top: 10px;
  color: green;
}

.close-popup {
  margin-top: 20px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  background-color: red;
  cursor: pointer;
}
